<!-- PANEL PRIMARIO -->
<div class="panel panel-primary">
    <!-- HEADING -->
    <div class="panel-heading">
        <h2 class="panel-title">
             {{image.title}}
        </h2>     
    </div>
    <!-- BODY -->
    <div class="panel-body">
        <p>{{image.description}}</p>
        <div class="col-md-12 text-center">
            <img 
            class="img-thumbnail"
            src="/public/upload/{{image.filename}}" 
            alt="Imagen">
        </div>
    </div>
    <!-- FOOTER -->
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-success" 
                id="btn-like" 
                data-id="{{image.uniqueId}}">
                    <i class="fa fa-heart"> 
                        like
                    </i>
                </button>
                <strong class="likes-count">
                    {{image.likes}}
                </strong>&nbsp;-&nbsp; 
                <i class="fa fa-eye"></i>
                <strong>{{image.views}}</strong>
                &nbsp;-&nbsp;Posted: 
                <em class="text-muted">
                    {{timeago image.timestamp}}
                </em>
            </div>
        </div>
    </div>
</div>
<!-- SECCION -->
<div class="panel panel-default">
    <!-- HEADING -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <strong class="panel-title">
                    Comentarios
                </strong>
            </div>
            <div class="col-md-4 text-right">
                <button 
                class="btn btn-default btn-sm" 
                id="btn-comment" 
                data-id="{{image.uniqueId}}">
                    <i class="fa fa-comments-o">
                        Publicar Comentario...
                    </i>
                </button>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div class="panel-body">
        <blockquote id="post-comment">
            <div class="row">
                <!-- FORM -->
                <form 
                method="POST"
                action="/images/comment/{{image.uniqueId}}"
                >
                    <!-- P1 -->
                    <div 
                    class="form-group col-sm-12">
                        <label 
                        for="name" 
                        class="col-sm-2 control-label">
                            Nombre:
                        </label>
                        <div 
                        class="col-sm-10">
                            <input 
                            class="form-control" 
                            type="text" 
                            name="name">
                        </div>
                    </div>
                    <!-- P2 -->
                    <div 
                    class="form-group col-sm-12">
                        <label 
                        for="email" 
                        class="col-sm-2 control-label">
                            E-Mail:
                        </label>
                        <div 
                        class="col-sm-10">
                            <input 
                            class="form-control" 
                            type="text" 
                            name="email">
                        </div>
                    </div>
                    <!-- P3 -->
                    <div class="form-group col-sm-12">
                        <label 
                        for="comment" 
                        class="col-sm-2 control-label">
                            Comentar:
                        </label>
                        <div class="col-sm-10">
                            <textarea 
                            class="form-control" 
                            id=""
                            rows="2"
                            name="comment">
                            </textarea>
                        </div>
                    </div>
                    <!-- P4 -->
                    <div 
                    class="form-group col-sm-12">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-success"
                            type="submit"
                            id="comment-btn">
                                <i class="fa fa-comments"></i>
                                Publicar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </blockquote>
        <ul class="media-list">
            {{#each comments}}
            <li class="media">
                <a href="#" 
                class="pull-left">
                    <img 
                        class="media-object"
                        src="http://www.gravatar.com/avatar/{{gravatar}}" 
                        alt="avatar image"
                    >
                </a>
                <div class="media-body">
                    {{comment}}
                    <br>
                    <strong class="media-heading">
                        {{name}}
                    </strong>
                    <small class="text-muted">
                        {{timeago timestamp}}
                    </small>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>