<!--div.panel.panel-primary-->
<div class="panel panel-primary">
    <!-- HEADING-->
    <!--div.panel-heading-->
    <div class="panel-heading">
        <!--div.panel-title-->
        <div class="panel-title">
            {{image.title}}
        </div>
    </div>
    <!-- BODY-->
    <!--div.panel-body-->
    <!--  -->
    <div class="panel-body">
        <p>{{image.description}}</p>
        <!--div.col-md-12.text-center-->
        <div class="col-md-12 text-center">
            <img src="/public/upload/{{image.filename}}"
            alt={{image.title}}" class="img-thumbnail">
        </div>
    </div>
    <!-- FOOTER-->
    <!--div.panel-footer-->
    <div class="panel-footer">
        <!--div.col-md-8-->
        <button class="btn btn-success" id="btn-like" data-id="{{image.uniqueId}}">

            <i class="fa fa-heart"> Like</i>

        </button>
        <!--strong.likes-count-->
        <strong class="likes-count">
            {{image.likes}}
        </strong>&nbsp; - &nbsp;
        <i class="fa fa-eye"></i>
        <strong>
            {{image.views}}
        </strong>
        &nbsp;-&nbsp;Publicación:
        <em class="text-muted">
            <!-- See usa un helper method de hbs propio para clacular la antiguedad
            de la publicación-->
            {{timeago image.timestamp}}
        </em>
    </div>
</div>
<div class="panel panel-default">
    <!--HEADING-->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <strong class="panel-title">
                    Comentarios:
                </strong>
            </div>
            <div class="col-md-4 text-rigth">
                <button class="btn btn-default btn-sm" id="btn-comment" data-id={{image.uniqueId}}>
                    <i class="fa fa-comments-o">
                        Publicar Comentario....
                    </i>
                </button>
            </div>
        </div>
    </div>
    <!-- Body-->
    <div class="panel-body">
        <blockquote id="post-comment">
            <div class="row">
                <!-- Form -->
                <form method="POST" action="/images/comment/{{image.uniqueId}}">
                    <!--   P1-->
                    <div class="form-group col-sm-12">
                        <label for="name" class="col-sm-2 control-label">
                            Nombre:
                        </label>
                        <div class="col-sm-10">
                            <input name="name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" for="email">
                            Email:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="email" class="form-control">
                        </div>
                    </div>
                    <!--coment-->
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label" for="comment">
                            Comentario:
                        </label>
                        <div class="col-sm-10">
                            <textarea id="comment" rows="2" name="email" class="form-control">
                        </textarea>
                        </div>
                    </div>
                    <!-- boton-->
                    <div class="form-group col-sm-12">
                        <div class="col-sm-12 text-right">
                            <button type="submit" id="comment-btn" class="btn btn-success">

                                <i class="fa fa-comment">
                                    Publicar
                                </i>

                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </blockquote>
        <!--Listado-->
        <ul class="media-list">
            {{#each comments}}
            <!-- Avatar del usuario-->
            <li class="media">
                <a href="#" class="pull-left">
                    <img src="https://s.gravatar.com/avatar/…ñ.{{gravatar}}" alt="imagen avatar" class="media-object">
                </a>
                <div class="media-body">
                    {{comment}}
                    <br>
                    <strong class="media-heading">
                        {{name}}
                    </strong>
                    <small class="text-muted">
                        {{timeago timestamp}}
                    </small>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>